body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #275f35;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold; 
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    background-color: transparent; 
    display: inline-block; 
    color: white; 
    background-color: #a9d6b4; 
    transform: scale(1.1); 
}

main {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 1rem; 
}

.card {
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 1rem; 
    width: calc(50% - 1rem); 
    box-sizing: border-box; 
}

.banner {
    background-color: #275f35; 
    color: white; 
    padding: 0.5rem; 
    text-align: center; 
    border-radius: 5px 5px 0 0; 
    margin-bottom: 1rem; 
}

.about-container {
    display: flex; 
    align-items: center; 
}

.about-image {
    width: 150px; 
    height: auto; 
    margin-left: 1rem; 
}

.country-image {
    width: 150px; 
    height: auto;
    display: block; 
    margin: 1rem auto; 
}

.resources-list {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem; 
    align-items: center; 
}

.resources-list li {
    transition: transform 0.3s, color 0.3s; 
}

.resources-list a {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold; 
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    background-color: transparent; 
    display: inline-block; 
}


.resources-list a:hover {
    color: white; 
    background-color: #275f35; 
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #275f35;
    color: white;
}
